@{layout('layout/admin')}

<body>
  <div class="header"></div>
  <div class="sidebar"></div>
  <div class="main">
    <div class="grid-col-12">
      <div class="card background-linier">
        <div class="flex">
          <i class="material-symbols-outlined icon-white"> library_books </i>
          <h2>Semua Buku</h2>
        </div>
        <h3 class="title-card">12</h3>
      </div>
      <div class="card">
        <div class="flex">
          <i class="material-symbols-outlined icon-white"> library_books </i>
          <h2>Semua Penerbit</h2>
        </div>
        <h3 class="title-card">26</h3>
      </div>
      <div class="card">
        <div class="flex">
          <i class="material-symbols-outlined icon-white"> library_books </i>
          <h2>Semua Pengguna</h2>
        </div>
        <h3 class="title-card">503</h3>
      </div>
      <div class="card">
        <div class="flex">
          <i class="material-symbols-outlined icon-white"> library_books </i>
          <h2>Pengguna Online</h2>
        </div>
        <h3 class="title-card">(0)</h3>
      </div>
      <div class="card">
        <div class="flex">
          <i class="material-symbols-outlined icon-white"> library_books </i>
          <h2>Books Transaction</h2>
        </div>
        <h3 class="title-card">2331</h3>
      </div>
      <div class="card">
        <div class="flex">
          <i class="material-symbols-outlined icon-white"> library_books </i>
          <h2>Saldo Platform</h2>
        </div>
        <h3 class="title-card">Rp 230.000.000</h3>
      </div>
      <div class="card">
        <div class="flex">
          <i class="material-symbols-outlined icon-white"> library_books </i>
          <h2>Top Up</h2>
        </div>
        <h3 class="title-card">1231</h3>
      </div>
      <div class="card">
        <div class="flex">
          <i class="material-symbols-outlined icon-white"> library_books </i>
          <h2>Penarikan Dana</h2>
        </div>
        <h3 class="title-card">12312</h3>
      </div>
      <div class="card">
        <div class="flex">
          <i class="material-symbols-outlined icon-white"> library_books </i>
          <h2>Estimasi Pendapatan</h2>
        </div>
        <h3 class="title-card">Rp 15.000.000</h3>
      </div>
    </div>
  </div>
</body>
